SJPlanner A 1.2/resources/xml/tasks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="tasks">
	<xs:complexType>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" ref="task"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="task">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="assignment" type="xs:string" />
			<xs:element name="className" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="dueDate" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>